<form class="signup-form in-tab" [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
  <mat-form-field class="form-field-full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" (focusout)="checkUsername()" formControlName="username">
    <mat-error *ngIf="usernameExists">Este nombre de usuario ya se encuentra registrado</mat-error>
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="form-field-full-width">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password" formControlName="password">
  </mat-form-field>
  <button [disabled]="signUpForm.invalid" type="submit" mat-button mat-flat-button color="primary" style="display: block; width: 100%;">
    Registrar
  </button>
</form>
